html {
    position: relative;
    min-height: 100%;
    background-color: black;
    background: url("../assets/bg2-b-min.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
    height: 100%;
}

a {
    color: white;
}

a:visited {
    color: grey;
}

h1 {
    color: #fff;
    font-size: 2em;
}

code {
    font-family: monospace;
    font-size: 1.4em;
    background-color: rgba(1, 1, 1, 0.5);
    color: white;
    margin-top: 1.2em;
}

.container {
    height: 100%;
}

.title {
    margin-top: 10em;
}
.details {
    margin-top: 3em;
}

div {
    text-align: center;
}

@media only screen and (min-device-width:768px) {
    h1 {
        font-size: 3em;
    }
    code {
        margin-top: 1em;
        font-size: 2em;
    }
    .links a:before {
        width: 2.3em;
        line-height: 2.3em;
        font-size: 2em;
    }
    ul.links {
        margin-top: 3em;
    }
}

ul.links {
    padding: 0;
    list-style: none;
    margin-top: 0em;
}

.links li {
    display: inline-block;
    margin: 10px;
}

.links a:before {
    border-radius: 100%;
    border: 4px solid #fff;
    display: block;
    width: 2.4em;
    line-height: 2.4em;
    font-size: 2.2em;
}

.links a {
    outline: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: baseline;
    border: 4px solid white;
    border-radius: 100%;
    background-color: rgba(1, 1, 1, 0.6);
    color: #fff;
    padding:15px;
}

.links a:hover {
    -webkit-animation: bigger 0.2s forwards;
    animation: bigger 0.2s forwards;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.links a > img {
    width: 3em;
    height: 3em;
    filter: invert(1);
}

.hidden {
    display: none;
}

.blink {
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

.fadeInUp {
    opacity: 0;
    -webkit-animation: fadeInUp 0.7s forwards;
    animation: fadeInUp 0.7s forwards;
}

@-webkit-keyframes blink {
    to {
        opacity: .0;
        color: black;
    }
}

@keyframes blink {
    to {
        opacity: .0;
        color: black;
    }
}

@-webkit-keyframes bigger {
    to {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}

@keyframes bigger {
    to {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.delay-1 {
    animation-delay: 0.5s;
}

.delay-2 {
    animation-delay: 0.6s;
}

.delay-3 {
    animation-delay: 0.7s;
}

.delay-4 {
    animation-delay: 0.8s;
}
